.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}

.content_style {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.centered_div {
    display: block;
    margin: auto;
    text-align: center;
    height:800px;
    overflow:hidden;
}